div  {border: 3px solid pink;
      margin: 5px;
      background-color: violet;
      }
#b1  {background-color: violet;
       } 
#b2  {background-color: violet;
      
      
     }
#b3  {width: 35%;
      float: left; 
      font-style: italic;
     }
#b4  {width: 60%;
      float: left;
      }
#b5  {clear: both;
     }